@model Domain.Shared.Address

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    
    <h2>Edit Address</h2>
    @Html.ActionLink("Back To Restaurant", "Detail", new { id = @ViewBag.RestaurantShortId })
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.ParentAggregateId)
        <div class="form-group">
            @Html.LabelFor(a => a.Number)
            @Html.TextBoxFor(a => a.Number, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Street)
            @Html.TextBoxFor(a => a.Street, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Suburb)
            @Html.TextBoxFor(a => a.Suburb, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Postcode)
            @Html.TextBoxFor(a => a.Postcode, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.City)
            @Html.TextBoxFor(a => a.City, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.State)
            @Html.TextBoxFor(a => a.State, new { @class = "form-control" })
        </div>

        <input type="submit" value="Submit" class="btn btn-success" />
    }
</div>
