@model Domain.Restaurant.Restaurant

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h2>New Restaurant</h2>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(a => a.TileImageUrl)
        <div class="form-group">
            @Html.LabelFor(a => a.Name)
            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Description)
            @Html.TextAreaFor(a => a.Description, new { @class = "form-control" })
        </div>
        <input type="submit" value="Submit" class="btn btn-success" />
    }
</div>


