@using Domain.Restaurant
@using Newtonsoft.Json
@model Domain.Restaurant.Queries.Models.RestaurantDetailsModel
@{
    ViewBag.Title = "Detail";
}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<div ng-app="hucksterApp">
    <div ng-controller="OrderFormController">
        <input id="restaurantId" type="hidden" value="@Model.Restaurant.AggregateRootId" />
        <input id="surgePct" type="hidden" value="@Model.Restaurant.SurgeVal" />
        <input id="deliveryFee" type="hidden" value="@Model.Restaurant.DeliveryFee" />
        <input id="minimumOrder" type="hidden" value="@Model.Restaurant.MinimumOrder"/>

        @{
            var orderJSON = ViewBag.OrderDetail == null ? "" : JsonConvert.SerializeObject(ViewBag.OrderDetail);
        }
        <input id="orderData" type="hidden" value="@orderJSON" />

        <section class="main-content main-bar-main">
                <div class="container">
                    <div class="row rest">
                        <div class="rest-bio">

                            <div class="rest-info">
                                <h2>@Model.Restaurant.Name</h2>

                                <p class="rest-text">
                                    @Model.Restaurant.Description
                                </p>
                            </div>

                            <div class="rest-img">
                                <img src="@Model.Restaurant.FullTileImageUrl" alt="@Model.Restaurant.Name">
                            </div>
                            </div>


                    </div>

                    <div class="mobile-lines"></div>
                    <div class="row rest rest-menu">

                        <div>

                            <h2></h2>

                        </div>

                        <p>



                        </p>



                        <form class="rest-menu-form">

                            <ul></ul>

                        </form><!-- .rest-menu-form -->

                    </div>

                    @foreach (var menu in Model.RestaurantMenu)
            {
                        <div class="row rest rest-menu">
                            <div>
                                <h2>@menu.Title</h2>
                            </div>
                            <p>

                            </p>

                            <form class="rest-menu-form">
                                <ul>
                                    @{
                                        var currentGroup = "";
                                    }
                                    @foreach (var menuItem in menu.MenuItems)
                                    {

                                        if (!currentGroup.Equals(menuItem.MenuGroup))
                                        {
                                            <li class="rest-menu-heading">
                                                @menuItem.MenuGroup
                                            </li>
                                        }
                                        currentGroup = menuItem.MenuGroup;

                                        <li ng-click="addmenuItem(@menuItem.Id, '@menuItem.Name', @menuItem.Price, 1)">
                                            <div class="list-description"> - @menuItem.Name </div>
                                            <div class="list-price">
                                                $ @menuItem.Price
                                                @if (menuItem.UseEach)
                                                {
                                                    <span>Each</span>
                                                }

                                            </div>
                                            <div class="list-add"><button></button>
                                            </div>

                                        </li>
                                    }
                                </ul>
                            </form><!-- .rest-menu-form -->
                        </div>
                    }


                </div>
        </section><!-- end main-content -->

        <section class="out-content">
            <div class="col-md-6 out-content-inner">
                <div class="out-header">
                    <h2>Order</h2>
                </div>
                <div class="order-main">
                    <label>Delivery Time</label>
                    <select ng-model="order.DeliveryTime" class="select-order">
                        <option value="">Please select time...</option>

                        @foreach (var deliverTime in Model.DeliveryHours)
                        {
                            <option value="@deliverTime.ToIsoString()">@deliverTime.ToTimeString()</option>
                        }
                    </select>

                    <label>Delivery Suburb</label>

                    <select class="select-order" ng-model="order.DeliverySuburbId" convert-to-number>
                        <option value="">Please select suburb...</option>
                        @foreach (var suburb in Model.DeliverySuburbs)
                        {
                            <option value="@suburb.Id">@suburb.Suburb</option>
                        }
                    </select>
                    <label>Your Order</label>
                    <table>

                        <tbody>

                            <tr class="order-item" ng-repeat="orderItem in OrderItems">


                                <td class="order-item-math">
                                    <!-- <div class="order-item-hover"> -->
                                    <span class="order-item-add" ng-click="addMenuItemQuantity($index);">+</span>
                                    <span class="order-item-subtract" ng-click="removeMenuItemQuantity($index);">-</span>
                                    <!-- </div> -->
                                </td>
                                <td class="order-item-quantity">
                                    {{orderItem.Quantity}} x
                                </td>
                                <td class="order-item-description">{{orderItem.Name}}</td>
                                <td class="order-item-price">
                                    ${{orderItem.Price * orderItem.Quantity}}                                    
                                </td>
                                <td>
                                    <div class="order-item-delete" ng-click="deleteMenuItem($index);"><i class="fa fa-times-circle"></i></div>
                                </td>

                            </tr>

                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="2">Subtotal</td>
                                <td>${{subTotal()}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Minimum Order</td>
                                <td>${{minimumOrder}}</td>
                            </tr>
                            @if (Model.Restaurant.Surge)
                            {
                                var pct = (decimal)Model.Restaurant.SurgePct / 100;

                                <tr class="dfee">
                                    <td colspan="2">Surge Addition</td>
                                    <td>{{subTotal()*@pct | currency:"$":0}}</td>
                                </tr>
                            }
                            <tr class="dfee">
                                <td colspan="2">Delivery Fee</td>
                                <td>${{deliveryFee}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td>${{total()}}</td>
                            </tr>

                        </tfoot>

                    </table>
                    <button class="list-order order-main-submit" ng-click="placeOrder()" ng-disabled="order.DeliveryTime=='' || order.DeliverySuburbId=='' || !MinimumOrderMet()">Place Order</button>
                    <div class="loader" ng-class="{loading: orderLoading}"  id="rest-order-loader"></div>
                    <span class="error error-order" ng-show="order.DeliveryTime==''">Delivery time is required</span>
                    <span class="error error-order" ng-show="order.DeliverySuburbId==''">Delivery Suburb is required</span>
                    <span class="error error-order" ng-show="!MinimumOrderMet()">Order value below minimum order</span>
                
                    <span class="error error-order" ng-show="serverError">We're sorry an error occurred while processing your order.</span>

                </div><!-- order-main -->

            </div><!-- .rest-order -->

        </section>
    </div>
</div>
