@using Domain.Restaurant
@model Domain.Restaurant.Queries.Models.RestaurantDetailsModel
@{
    ViewBag.Title = "Detail";
}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<div ng-app="hucksterApp">
    <div class="container" ng-controller="OrderFormController">
        <div class="row">
            <div class="col-md-6">
                <h2>@Model.Restaurant.Name</h2>

                <p>
                    @Model.Restaurant.Description
                </p>

                <img src="@Model.Restaurant.FullTileImageUrl" style="max-width: 80%" />
            </div>
            <div class="col-md-6" >
                <h2>Order</h2>
                <label>Delivery Time</label>
                <select ng-model="order.DeliveryTime">
                    @foreach (var deliverTime in Model.DeliveryHours)
                    {
                        <option value="@deliverTime.ToIsoString()">@deliverTime.ToTimeString()</option>
                    }
                </select>

                <label>Delivery Suburb</label>
                <select ng-model="order.DeliverySuburbId">
                    @foreach (var suburb in Model.DeliverySuburbs)
                    {
                        <option value="@suburb.Id">@suburb.Suburb</option>
                    }
                </select>
                <ul>
                    <li ng-repeat="orderItem iClass1.csn OrderItems">
                        {{orderItem.Name}} : {{orderItem.Quantity}} x ${{orderItem.Price}} - ${{orderItem.Price * orderItem.Quantity}}
                    </li>
                </ul>
                <button ng-click="placeOrder()">Place Order</button>
                
            </div>
        </div>

        <div class="row">
            @foreach (var menu in Model.RestaurantMenu)
            {
                <div>
                    @menu.Title
                </div>
                    <p>
                        @menu.Description
                    </p>
                    <ul>
                        @foreach (var menuItem in menu.MenuItems)
                        {
                            <li ng-click="addmenuItem('@menuItem.Name', @menuItem.Price, 1)">
                                <div>@menuItem.MenuGroup - @menuItem.Name </div>
                                <p>
                                    @menuItem.Description
                                </p>
                                $ @menuItem.Price
                            </li>
                        }
                    </ul>
            }
        </div>

    </div>
</div>
