@{
    Layout = "Layout.cshtml";
}

<h2>New Enquiry Recieved</h2>

<p>
    Name: @Model.Name
</p>
Phone: @Model.Phone
<p>
    Email: @Model.Email
</p>

<p>
    Subject: @Model.Subject
</p>

<p>
    Message: @Model.Message
</p>