@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<RestaurantPortal.Controllers.UsersController.RestaurantPortalUser>

@{
    ViewBag.Title = "title";
}

<h2>Users</h2>

<a class="btn btn-primary" href="@Url.Action("New")">New User</a>

<table class="table">
    <tr>
        <td>
            Name
        </td>
        <td>
            Email
        </td>
        <td>
            Roles
        </td>
        <td>
            Restaurant
        </td>
        <td></td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.User.UserName
            </td>
            <td>
                @user.User.Email
            </td>
            <td>
                @{
                    var roleNames = ((List<IdentityRole>) ViewBag.Roles).Where(_ => user.User.Roles.Select(r => r.RoleId).Contains(_.Id)).Select(_ => _.Name);
                }
                @String.Join(", ", roleNames)
            </td>
            <td>
                @if (user.RestaurantAccess != null && user.RestaurantAccess.Any())
                {
                    @user.RestaurantAccess.FirstOrDefault().Name
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = user.User.Id }) | @Html.ActionLink("Restaurant Access", "RestaurantAccess", new { id = user.User.Id })
            </td>
        </tr>
    }
</table>
